html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
}

.App {
  display: grid;
  grid-template-rows: 6rem 150vh;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: medium;
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 8.5rem 5rem 5rem 5rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

select {
  height: 2.5rem;
  border-radius: 10px;
}

.block {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 1rem;
  justify-content: center;
}

.squares {
  display: grid;
}

.title {
  font-style: italic;
  font-size: 20px;
  margin-top: 0 !important;
}

.picked-squares {
  display: flex;
  flex-direction: column;
}

.picked-square {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;
    justify-content: center;
  }
  .block {
    display: flex;
    justify-content: center;
    min-width: max-content;
    margin-top: 0px;
  }
}
